{% extends "header.html" %}
{% block title %}ASM | Upload {% endblock %}
{% block content %}

<div class="breaker"></div>
<div class="container upload_item_container">



</div> <!-- /container -->


<!-- Bootstrap core JavaScript
     ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="{{base_url}}{{media_url}}assets/js/bootstrap.min.js"></script>
</body>

<style>
  body {
  background-color: #E7E3E3;
  }
  #user_signup_section {
  background: #FFF !important;
  }
  .minh_35 { min-height: 35px; }
  
</style>

<script>
  function change_option(id) 
  {
  url = '{{ base_url }}photo/subcateg?id='+id
  
  $.ajax({
  type: "get",
  url:url,
  async: false,
  success: function(data){
  str = ''
  data = data.data
  for ( var i = 0; i < data.length; i++ ) 
		       {
                       str += '<option id="'+data[i].id+'" name="'+data[i].id+'" value="'+data[i].id+'">'+data[i].name+'</option>';
		       }

		       $('#subcategory').html(str)
                       }});}

</script>
{% endblock %}
