{% extends "upload_header.html" %}
{% block title %}ASM | Upload {% endblock %}
{% block content %}

<div class="breaker"></div>
<div class="container upload_item_container">
    <div class="row clearfix">
      <div class="col-md-12 table-responsive">
      <table class="table table-sortable upload_table" id="">
        <thead>
          <tr>
            <th class="text-center">
              Section 1
            </th>
            <th class="text-center">
              Section 2
            </th>
            <th class="text-center">
              Section 3
            </th>
              <th class="text-center">
              Section 4
            </th>
          </tr>
        </thead>

        <tbody class="ui-sortable">

          <tr id="" >

            <td class="section1">
                            <div class="form-group">
                              <h4>ITEM TITLE 5</h4>
                              <textarea class="form-control" id="itemDescription" type="text" placeholder="Give this item a descriptive title"></textarea>
                            </div>
                            <div class="form-group"> 
                              <h4>ITEM TAGS</h4>                             
                              <input type="tags" class="form-control" id="itemTags" placeholder="Seperate each with a comma">
                            </div>

                            <h4>Category</h4>
                            <div class="form-group ASM_widgets">  
                              <select class="form-control">
                                <option>Other</option>
                                <option>Press</option>
                                <option>Event</option>
                                <option>etc</option>
                              </select>
                            </div>

                            <h4>Sub category</h4>
                            <div class="form-group ASM_widgets">  
                              <select class="form-control">
                                <option>Other</option>
                                <option>Press</option>
                                <option>Event</option>
                                <option>etc</option>
                              </select>
                            </div>
            </td>

            <td class="section2">
                          
                            <h4>Product Files</h4>
                            <div class="form-group">    
                              <h4>Regular Size</h4>
                              <label for="exampleInputFile">Upload Image</label>
                              <input type="file" id="exampleInputFile">

                               <h4>SuperSize</h4>
                              <div class="checkbox">
                                <label> <input type="checkbox">Yes</label> </div> 
                                <label for="exampleInputFile">Upload Image</label>
                                <input type="file" id="exampleInputFile">                                        
                              </div>
                              
                            <div class="form-group">
                              <div id="sizeChoice_title" class="checkbox">
                                <div class="row">
                                  <div class="form-group"> 
                                    <h4>PICTURE RESOLUTION (DPI)</h4>                             
                                    <input type="dpi" class="form-control shorter_field" id="dpi" placeholder="">
                                  </div>
                                </div>
                              </div>
                            </div><!-- END FORM GROUP SIZE CHOICES -->  
                         
            </td>

            <td class="section3">

                <div class="peopleA">
                  <h4>Are there people in this photo?</h4>
                  <div class="checkbox">
                    <label> <input type="checkbox">Yes</label> </div>
                  <h5 class="smaller_h5">How Many?</h5>
                  <div class="form-group ASM_widgets">  
                    <select class="form-control">
                      <option>-</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>More</option>
                    </select>
                  </div>                

                  <div class="checkbox"> <label> <input type="checkbox">Male</label> </div>
                  <div class="checkbox"> <label> <input type="checkbox">Female</label> </div>    
                  <div class="checkbox"> <label> <input type="checkbox">Infant</label> </div>    
                  <div class="checkbox"> <label> <input type="checkbox">Child</label> </div>    
                  <div class="checkbox"> <label> <input type="checkbox">Teen</label> </div>    
                  <div class="checkbox"> <label> <input type="checkbox">Young Adult</label> </div>    
                  <div class="checkbox"> <label> <input type="checkbox">Middle Aged</label> </div>    
                  <div class="checkbox"> <label> <input type="checkbox">Old Person</label> </div>  
                </div>
              
            </td>

            <td class="section4">
                <h4>Do you own this work?</h4>
                  <ul class="listless">
                    <li><input type="radio" name="sex" value="male" checked> Yes</li>
                    <li><input type="radio" name="sex" value="female"> No</li>
                  </ul>  

                <h4>Did the model(s) sign a model-release form?</h4>
                  <ul class="listless">
                    <li><input type="radio" name="sex" value="male" checked> Yes</li>
                    <li><input type="radio" name="sex" value="female"> No</li>
                  </ul>  

                <h4>Do you agree to our <a href="#nogo" target="_blank">Terms of Service?</a></h4>
                  <ul class="listless">
                    <li><input type="radio" name="sex" value="male" checked> Yes</li>
                    <li><input type="radio" name="sex" value="female"> No</li>
                  </ul>  
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12 upload_new">
      <button type="submit" class="btn btn-default buttonA">Upload Item</button>   
   </div>
</div>




    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="{{base_url}}{{media_url}}assets/js/bootstrap.min.js"></script>
</body>

<style>
body {
background-color: #E7E3E3;
}
#user_signup_section {
background: #FFF !important;
}
.minh_35 { min-height: 35px; }

</style>

{% endblock %}
